.movies {
  background-color: #bbb;

  &__container {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  &__content {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  &__slider-container {
    width: 100%;
    min-height: 100%;
    background-color: #303030;
    border-radius: 20px;
    padding: 20px;
    box-shadow: 0 6px 20px 0 rgba(202, 208, 216, 0.15);
    display: flex;
    flex-direction: column;
    overflow-y: auto;
  }
}

.scroll__wrapper {
  &::-webkit-scrollbar {
    display: none;
    width: 0;
    background: transparent;
    height: 0;
    -webkit-appearance: none;
  }
}

.scroll__position-wrapper {
  &::-webkit-scrollbar {
    display: none;
    width: 0;
    background: transparent;
    height: 0;
    -webkit-appearance: none;
  }
}

.scroll {
  &__wrapper {
    height: fit-content;
    margin-left: -20px;
    margin-right: -20px;
    position: relative;
    overflow-x: auto;
    overflow-y: hidden;
    scrollbar-width: none;
  }

  padding: 20px 20px 40px;
  white-space: nowrap;
  position: sticky;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  margin: auto 0;

  &__filler {
    width: 100%;
    min-height: 100%;
    position: absolute;
  }

  &__inner {
    width: fit-content;
    display: flex;
    align-items: stretch;
  }

  &__item {
    width: 400px;
    height: 350px;
    border-radius: 20px;
    transform: perspective(400px);
    padding: 30px;
    margin: 0 50px;
    vertical-align: top;
    color: white;
    text-decoration: none;
    white-space: normal;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;

    &--1 {
      background-image: linear-gradient(130deg, #ff8063, #e34040);
      box-shadow: 0 8px 20px 0 rgba(213, 65, 51, 0.45);
    }

    &--2 {
      background-image: linear-gradient(130deg, #9457e2, #5029bb);
      box-shadow: 0 8px 20px 0 rgba(108, 79, 197, 0.44);
    }

    &--3 {
      background-image: linear-gradient(130deg, #ffe561, #ffd24c);
      box-shadow: 0 8px 20px 0 rgba(227, 169, 55, 0.45);
      color: #333;
    }

    &--4 {
      background-image: linear-gradient(130deg, #1cffb7, #1e83f7);
      box-shadow: 0 8px 20px 0 rgba(107, 187, 255, 0.45);
    }

    &--5 {
      background-image: linear-gradient(130deg, #cc668d, #cc66c7);
      box-shadow: 0 8px 20px 0 rgba(117, 59, 114, 0.45);
    }

    &--6 {
      background-image: linear-gradient(130deg, #9c4798, #69479c);
      box-shadow: 0 8px 20px 0 rgba(73, 45, 114, 0.4);
    }

    &--7 {
      background-image: none;
      box-shadow: none;
      border: 1px dashed #eaeaea;
      color: #bdbdbd;
      cursor: default;
    }

    &:not(:last-child) {
      margin-right: 0;
    }
  }

  &__title {
    font-size: 32px;
    font-weight: 600;
  }

  &__subtitle {
    font-size: 26px;
    font-weight: 500;
  }

  &__icon {
    font-size: 180px;
  }

  &__img {
    width: 100%;
    border-radius: 20px;
    overflow: hidden;

    img {
      width: 100%;
    }
  }

  &__button {
    font-size: 24px;
    padding: 10px 15px;
    border-radius: 10px;
    background-color: #303030;
    color: #ffcc57;
    font-weight: 700;

    @include hideTapHighlightColor();
    @include hardwareAccel();
    @include improveAntiAlias();
    transition: all 350ms ease-out;
    &:hover,
    &:focus {
      animation-name: wobble-top;
      animation-duration: 1s;
      animation-timing-function: ease-in-out;
      animation-iteration-count: 1;
      transition: all 350ms ease-out;
    }

    &--disable {
      color: #bdbdbd;
    }
  }

  &__position {
    height: 4px;
    background-color: rgb(179, 179, 179);
    flex: 1;
    margin: 0 5px;
    border-radius: 20px;

    &-wrapper {
      width: 100%;
      margin-top: auto;
      display: flex;
      align-items: center;
    }

    &-inner {
      height: 4px;
      background-color: #ffcc57;
    }
  }

  &__btn {
    display: block;
    appearance: none;
    border: none;
    background: none;
    width: 26px;
    height: 26px;
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='24' height='24' viewBox='0 0 24 24' fill='none' stroke='%23aaa' stroke-width='1.5' stroke-linecap='round' stroke-linejoin='round'%3E%3Cpolyline points='9 18 15 12 9 6'%3E%3C/polyline%3E%3C/svg%3E");
    background-position: center;
    background-size: 40px;
    z-index: 9;
    cursor: pointer;
    opacity: 0.6;
    color: rgb(179, 179, 179);
    transition-duration: 0.3s;

    &:hover {
      opacity: 1;
    }

    &.prev {
      transform: scaleX(-1);
    }

    &[disabled] {
      opacity: 0;
      pointer-events: none;
    }
  }
}

@media (max-width: 800px) {
  .scroll {
    &__item {
      width: 250px;
      height: 300px;
      padding: 20px;
    }

    &__title {
      font-size: 24px;
    }

    &__icon {
      font-size: 160px;
    }

    &__subtitle {
      font-size: 20px;
    }
  }
}

@media (max-width: 436px) {
  .scroll {
    &__item {
      width: 250px;
      height: 200px;
      padding: 15px;
      margin: 0 5px;
    }

    &__title {
      font-size: 20px;
    }

    &__icon {
      font-size: 100px;
    }

    &__subtitle {
      font-size: 18px;
    }
  }
}

@mixin hideTapHighlightColor() {
  //Prevent highlight colour when element is tapped
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}

@mixin hardwareAccel() {
  //Improve performance on mobile/tablet devices
  transform: translateZ(0);
}

@mixin improveAntiAlias() {
  //Improve aliasing on mobile/tablet devices
  box-shadow: 0 0 1px rgba(0, 0, 0, 0);
}

@keyframes wobble-top {
  16.65% {
    transform: skew(-12deg);
  }

  33.3% {
    transform: skew(10deg);
  }

  49.95% {
    transform: skew(-6deg);
  }

  66.6% {
    transform: skew(4deg);
  }

  83.25% {
    transform: skew(-2deg);
  }

  100% {
    transform: skew(0);
  }
}
